.alert {
    margin: 11.5px 0;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: 700;
}

.alert-dismissible {
    padding-right: 4rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-primary hr {
    border-top-color: #9fcdff;
}

.alert-primary .alert-link {
    color: #002752;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert-secondary hr {
    border-top-color: #c8cbcf;
}

.alert-secondary .alert-link {
    color: #202326;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-success hr {
    border-top-color: #b1dfbb;
}

.alert-success .alert-link {
    color: #0b2e13;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-info hr {
    border-top-color: #abdde5;
}

.alert-info .alert-link {
    color: #062c33;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-warning hr {
    border-top-color: #ffe8a1;
}

.alert-warning .alert-link {
    color: #533f03;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-danger hr {
    border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
    color: #491217;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-light hr {
    border-top-color: #ececf6;
}

.alert-light .alert-link {
    color: #686868;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.alert-dark hr {
    border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
    color: #040505;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.flip {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: flip;
    animation-name: flip;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.animated.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.animated.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.animated.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.animated.delay-5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.animated.fast {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
}

.animated.faster {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

.animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.animated.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

@media (print),(prefers-reduced-motion) {
    .animated {
        -webkit-animation: unset !important;
        animation: unset !important;
        -webkit-transition: none !important;
        transition: none !important;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0,-100%,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0,-2000px,0);
        transform: translate3d(0,-2000px,0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@keyframes fadeInDownBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0,-2000px,0);
        transform: translate3d(0,-2000px,0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

.fadeInDownBig {
    -webkit-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0,-100%,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}


/*close*/

.abs-sidebar-totals .table-caption,.sidebar .subtitle,.cart-summary .block .fieldset.estimate>.legend,.cart-summary .block .fieldset.estimate>.legend+br,.minicart-items .product-item-details .weee[data-label] .label,.page-product-giftcard .fieldset.giftcard>.legend+br,.order-details-items .order-items .order-gift-message .action.close,.multicheckout .block .methods-shipping .item-content .fieldset>.legend+br,.multicheckout .hidden,[class^=multishipping-] .nav-sections,[class^=multishipping-] .nav-toggle,.sidebar-main .block-reorder .subtitle,.sidebar-additional .block-reorder .subtitle,.no-display,.cart-totals .table-caption,.opc-block-summary .table-totals .table-caption {
    display: none;
}
.ui-dialog.popup .action.close {
    position: absolute;
    height: 40px;
    right: 0;
    top: 0;
    width: 40px;
    z-index: 1001;
    display: inline-block;
    background-image: none;
    background: 0 0;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
}

.ui-dialog.popup .action.close>span {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-dialog.popup .action.close:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 22px;
    line-height: 22px;
    color: inherit;
    content: '\e616';
    font-family: 'icons-blank-theme';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.ui-dialog.popup .action.close:hover:before {
    color: inherit;
}

.ui-dialog.popup .action.close:active:before {
    color: inherit;
}

.ui-dialog.popup .action.close:focus,.ui-dialog.popup .action.close:active {
    background: 0 0;
    border: none;
}

.ui-dialog.popup .action.close:hover {
    background: 0 0;
    border: none;
}

.ui-dialog.popup .action.close.disabled,.ui-dialog.popup .action.close[disabled],fieldset[disabled] .ui-dialog.popup .action.close {
    pointer-events: none;
    opacity: .5;
}

.modal-custom .action-close,.modal-popup .action-close,.modal-slide .action-close {
    background-image: none;
    background: 0 0;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-shadow: none;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 0;
}

.modal-custom .action-close:focus,.modal-popup .action-close:focus,.modal-slide .action-close:focus,.modal-custom .action-close:active,.modal-popup .action-close:active,.modal-slide .action-close:active {
    background: 0 0;
    border: none;
}

.modal-custom .action-close:hover,.modal-popup .action-close:hover,.modal-slide .action-close:hover {
    background: 0 0;
    border: none;
}

.modal-custom .action-close.disabled,.modal-popup .action-close.disabled,.modal-slide .action-close.disabled,.modal-custom .action-close[disabled],.modal-popup .action-close[disabled],.modal-slide .action-close[disabled],fieldset[disabled] .modal-custom .action-close,fieldset[disabled] .modal-popup .action-close,fieldset[disabled] .modal-slide .action-close {
    pointer-events: none;
    opacity: .5;
}

.modal-custom .action-close>span,.modal-popup .action-close>span,.modal-slide .action-close>span {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.modal-custom .action-close:before,.modal-popup .action-close:before,.modal-slide .action-close:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 32px;
    line-height: 32px;
    color: #8f8f8f;
    content: '\e616';
    font-family: 'icons-blank-theme';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.modal-custom .action-close:hover:before,.modal-popup .action-close:hover:before,.modal-slide .action-close:hover:before {
    color: inherit;
}

.modal-custom .action-close:active:before,.modal-popup .action-close:active:before,.modal-slide .action-close:active:before {
    color: inherit;
}

.modal-custom .action-close:hover:before,.modal-popup .action-close:hover:before,.modal-slide .action-close:hover:before {
    color: #1a1a1a;
}

.modal-custom .action-close {
    margin: 28.75px;
}

.modal-popup .action-close {
    padding: 11.5px;
}

.modal-slide .action-close {
    padding: 1.1rem 2rem;
}

.modal-popup .action-close {
    padding: 11.5px;
}

.modal-slide .action-close {
    padding: 1.1rem 2rem;
}
.minicart-wrapper .action.close {
    display: inline-block;
    background-image: none;
    background: 0 0;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}

.minicart-wrapper .action.close>span {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.minicart-wrapper .action.close:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 32px;
    line-height: 32px;
    color: inherit;
    content: '\e616';
    font-family: 'icons-blank-theme';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.minicart-wrapper .action.close:hover:before {
    color: inherit;
}

.minicart-wrapper .action.close:active:before {
    color: inherit;
}

.minicart-wrapper .action.close:focus,.minicart-wrapper .action.close:active {
    background: 0 0;
    border: none;
}

.minicart-wrapper .action.close:hover {
    background: 0 0;
    border: none;
}

.minicart-wrapper .action.close.disabled,.minicart-wrapper .action.close[disabled],fieldset[disabled] .minicart-wrapper .action.close {
    pointer-events: none;
    opacity: .5;
}
.map-popup-wrapper.popup .action.close {
    top: 11.5px;
}
.map-popup-wrapper.popup .action.close {
    top: 11.5px;
}

.map-popup .popup-actions .action.close {
    position: absolute;
    display: inline-block;
    background-image: none;
    background: 0 0;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    right: 11.5px;
    top: 11.5px;
}

.map-popup .popup-actions .action.close>span {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.map-popup .popup-actions .action.close:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 22px;
    line-height: 22px;
    color: inherit;
    content: '\e616';
    font-family: 'icons-blank-theme';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.map-popup .popup-actions .action.close:hover:before {
    color: inherit;
}

.map-popup .popup-actions .action.close:active:before {
    color: inherit;
}

.map-popup .popup-actions .action.close:focus,.map-popup .popup-actions .action.close:active {
    background: 0 0;
    border: none;
}

.map-popup .popup-actions .action.close:hover {
    background: 0 0;
    border: none;
}

.map-popup .popup-actions .action.close.disabled,.map-popup .popup-actions .action.close[disabled],fieldset[disabled] .map-popup .popup-actions .action.close {
    pointer-events: none;
    opacity: .5;
}

.modal-slide.smcqp-modal-popup .action-close {
    padding: 10px;
    margin-top: 10px;
}

.modal-slide.smcqp-modal-popup .modal-header {
    border: none;
}

.modal-slide.smcqp-modal-popup .modal-header .action-close span {
    display: none;
}


.modal-slide.smcqp-modal-popup .action-close {
    padding: 10px;
    margin-top: 10px;
}

.modal-slide.smcqp-modal-popup .modal-header {
    border: none;
}

.modal-slide.smcqp-modal-popup .modal-header .action-close span {
    display: none;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    opacity: .75;
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}

button.close,.cart.table-wrapper .actions-toolbar>.action.close,.action-gift.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-slide .action-close {
    padding: 19px 10px;
}
.opc-sidebar .action-close {
    margin: 17px 10px 10px;
    z-index: 99;
}
