.product-item-info {
    /*height: 444px!important;*/
    width: auto!important;
    overflow: hidden;
}
@media only screen and (max-width: 1020px) {
    .bnt_kup{
        padding: 5px 34% !important;
    }
    .product-item-info {
        /*height: 425px!important;*/
        width: auto!important;
        overflow: hidden;
    }
}
.bnt_kup{
    color: #d92e15;
    border: 1px solid #d92e15;
    margin: 10px 0 10px 0;
    border-radius: 20px;
    background: white;
    border-style: solid;
    border-color: var(--light-grey);
    padding: 5px 50%;
    font-size: 15px;
    transition: 0.5s;
}
@media only screen and (min-width: 1024px) {
    .carousel-item-image {
        height: 400px;
    }
}
@media only screen and (max-width: 1024px) {
    .carousel-item-image {
        height: 150px;
    }
}