.padding-class{
    margin-top: 3px;
    padding-top: 3px;
    padding-bottom: 6px;
    padding-right: 15px;
    padding-left: 15px;
}
.form-control{
    padding: 4px 1.25rem!important;
    width: 40%;!important;
}
.index-form-control{
    width: 40%;!important;
}
.h6-size{

    font-size: 16px;
    font-weight: bold;
}
.index-add-button{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.index-clear-button{
    width: 100%;
}
.index-send-button{

    width: 100%;
}



.update-product-from-cache-form{
    border: none;
    background: #fff;
}
.up-ca-form-inp{
    border: none;
    width: 100px;
}
.table {
    border-collapse: collapse!important;
}
/*.table-parent-div > .table > thead > tr > th, .table-parent-div > .table > tbody > tr > td {*/
/*    padding: 3px 17px 3px 17px!important;*/
/*}*/
/*.table-striped:not(.dataTable) > tbody > tr:nth-of-type(odd) td {*/
/*    background-color: #fff!important;*/
/*}*/
/*.table-striped>tbody>tr:nth-of-type(odd)>* {*/
/*    --bs-table-accent-bg: #fff!important;*/
/*}*/
/*.no-wrap-button {*/
/*    position: sticky;*/
/*    bottom: -2px;*/
/*    z-index: 3;*/
/*    background: #fff !important;*/
/*    !* border-left: 1px solid #acacac!important; *!*/
/*    border: 2px solid #c1cfde!important;*/
/*    color: #031fbd !important;*/
/*}*/

.number-item > input{
    width: 44px;
    text-align: center;
    border: none;
    background: #fff;
}
.up-ca-form-inp{
    background: #fff!important;
}
.number-item {
    padding: 1px 9px!important;
}
/*.list-group-item{*/
/*    width: 20px;*/
/*    overflow-x: hidden;*/
/*}*/
.list-group-item-title{
    /*width: 25px!important;*/
    width: 53px!important;
}
.list-group-item-num{
    border-top: 1px solid rgb(220 220 220) !important;
    border-bottom-left-radius: initial!important;
}
.list-group-item-back{
    background: rgb(220 220 220) !important;
}
.title-horizontal{
    background: rgb(220 220 220);
}
.right-position-sticky-title{
    position: sticky!important;
    right: 0;
    background: rgb(220 220 220) !important;
}
.left-position-sticky-title{
    position: sticky!important;
    left: 0;
    z-index: 1;
}
.title-sticky{
    position: sticky!important;
    z-index: 2;
    top: -1px;
}
.z-index-title-num{
    z-index: 3!important;
}
.buttom-sticky{
    position: sticky!important;
    z-index: 1;
    bottom: -1px;
    border: 1px solid rgb(0 0 0 / 61%);
    background: #fff!important;
}
.products-index{
    padding: 0;
}
.table-parent-div{
    height: 355px;
}
/*.table-bordered{*/
/*    height: 355px;*/
/*}*/
.text-col{
    color: #0d6efd;
}
/* big */
@media screen and (min-width:600px) {
    ul {
        width: 1300px;
        overflow-x: scroll;
        white-space:nowrap;
        display:inline-block;
    }


    .list ul {
        display:table-row;
    }

    .list ul > li {
        text-align: center;
        width: 132px;
        display:table-cell;
        padding:0 1em;
    }

}

.class-disabled{
    background-color: #f8f9fa!important;
    color: #424242!important;
}
.date-style{
    height: 33px!important;
}
body {
    font-size: 14px!important;
}
.form-group {
    margin-bottom: 18px!important;
}
.form-group1 {
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.help-block1 {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.help-block{
    font-size: 12px!important;
}
.button-form{
    margin-top: 10px!important;
}
.input-group-addon{
    padding: 9px 11px 0px 11px!important;
    background-color: #eeeeee;
    border: #eeeeee;
    cursor: pointer;
}
.input-group-qr-code{
    padding: 5px 5px 0px 5px!important;
    font-size: 23px;
    cursor: pointer;
    font-weight: 400;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #ccc;
}
label{
    margin-bottom: 1px!important;
}
.modal-content {
    background: var(--bs-modal-bg) !important;
}
.bar-cod-class{
    margin: 15px 0 15px 0;
    padding: 47px;
}
.barcode-generate{
    width: 60% !important;
    margin-left: 20%;
}
.barcode-generate-1{
    width: 60% !important;
    margin-left: 31%;
}
.barcode-generate-body{
    width: 60% !important;
    margin-left: 21%;
}
.padding-barcode{
    padding: 38px;
}
#id-modal-body{
    padding: 0!important;
}