.title-basket{
    color: black;
    font-weight: 700;
    font-size: 20px;
}
.input-basket{
    padding: 20px;
    font-size: 16px;
}
.input-basket-drop{
    /*padding: 16px;*/
    font-size: 16px;
}

@media (min-width: 576px){
    .modal-one-click {
        max-width: 22% !important;
    }
}


.product-thumbs .swiper-slide img {
    border:2px solid transparent;
    object-fit: cover;
    cursor: pointer;
}
.product-thumbs .swiper-slide-active img {
    border-color: #bc4f38;
}
.product-slider .swiper-button-next:after,
.product-slider .swiper-button-prev:after {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.feature {
    display: block;
    margin: 0;
    padding: 0;
}
.feature li {
    display: block;
    letter-spacing: -1ex;
    margin: 5px 0;
}
.feature-left {
    margin-right: -50%;
    width: 49%;
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
    letter-spacing: normal;
}
.feature-left:after {
    content: '';
    display: inline-block;
    width: 100%;
    margin: 0 -99% 0 3px;
    vertical-align: baseline;
    border-bottom: 1px dashed #888;
}
.feature-right {
    display: inline-block;
    letter-spacing: normal;
    padding-left: 3px;
    margin-left: 50%;
    width: 50%;
    vertical-align: bottom;
}
.title-one-click-modal{
    font-weight: 600;
    color: black;
}
.input-one-click-modal{
    color: black;
}
.button-one-click-modal{
    width: 100%;
    color: #fff!important;
    font-size: 20px!important;
}